<h1>Behold the mighty Dave!</h1>

<div id="davepic" style="height: 500px; width: 500px">
  <img src='http://orig10.deviantart.net/0971/f/2013/242/4/b/kittylarge_by_ate_bit-d6kb87n.gif'>
</div>
<div id="davestats" style="color: white; z-index: 1000;">

  <p>The food-level of Dave is: <%= @dave.food %></p>
  <p>The sleep-level of Dave is: <%= @dave.sleep %></p>
  <p>The activity-level of Dave is: <%= @dave.activity %></p>
  <p> Dave says: <%= @dave.message() %> </p>
  <p>The happiness-level of Dave is: <%= @dave.mood  %></p>

</div>
<form action="/tamagotchi" method="post">

  <a href="/feed" class="btn btn-danger" id="feed">Feed Dave!</a>
  <a href="/nap" class="btn btn-primary" id="nap">Let Dave Nap!</a>
  <a href="/play" class="btn btn-success" id="play">Play wit Dave!</a>
  <br>
  <a style="margin-top: .5rem;" href="/next_day" class="btn btn-warning" id="next_day">Next Day!</a>
  <a style="margin-top: .5rem;" href="/" class="btn btn-info">Resurrect!</a>

</form>
